:root>* {

    --md-footer-bg-color: rgb(222, 222, 209);
    --md-footer-fg-color: rgb(222, 222, 209);
    --md-footer-bg-color--dark: rgb(222, 222, 209);
    --md-footer-fg-color--lighter:  rgb(222, 222, 209);
    --md-footer-fg-color--light:  rgb(222, 222, 209);
    --mdc-typography-headline6-font-family: "Averia Serif Libre", serif;
    --mdc-typography-font-family: "Averia Serif Libre", serif;
    --md-typeset-a-color: rgb(12, 240, 190);

}

.md-header {
  background-color: rgb(222, 222, 209);  /*  */
  border-color: rgb(222, 222, 209);      /*  */
}


body {
  background-color: grey;
  font-family: "Averia Serif Libre", serif;
}


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(222, 222, 209);
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(222, 222, 209);
}

.md-typeset h2 {
    font-weight: 500;
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}
